html,
body {
  color: white;
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  background: rgb(20, 20, 60, 0.9);
  border-radius: 5px;
  padding: 5px 10px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: black;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .responsive-flex-reverse {
    flex-direction: column-reverse;
  }

  .responsive-flex {
    flex-direction: column;
  }
}

@media screen and (min-width: 1025px) {
  .responsive-flex {
      flex-direction: row;
  }
}

.normal-text {
  font-size: calc(10px + 0.4vw) !important;
}

.header-text {
  font-size: calc(20px + 4vw) !important;
}

.header1-text {
  margin: 20px 0 !important;
  font-size: calc(20px + 2.5vw) !important;
}

.header1-alt-text {
  margin: 20px 0 !important;
  font-size: calc(24px + 1vw) !important;
  font-weight: 700 !important;
}

.header2-text {
  font-size: calc(12px + 0.8vw) !important;
}

.header2-alt-text {
  margin: 10px 0 !important;
  font-size: calc(14px + 0.4vw) !important;
  font-weight: 700 !important;
}

.header3-text {
  font-size: calc(12px + 0.4vw) !important;
}